Makefile
Makefile.in
*.o
*.lo
__pycache__
/.deps
/.libs
/*.yaml*.c
/*.trs
/*-output.log
/*-output.pbm
/libsam.la
/test-*
/test-suite.log
/basic_block.log
/factorial_iter.log
/factorial_rec.log
/push.log
/swap.log
/screen_graphics.log
/screen_graphics.pbm
/screen_levy-c.log
/screen_levy-c.pbm
/screen_turtle-demo.log
/screen_turtle-demo.pbm
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.sub
/config.log
/config.status
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
/sam
/venv