Makefile
Makefile.in
*~
*.o
*.lo
stamp-h1
/sam-*.tar.gz
/ar-lib
/depcomp
/libtool
/ltmain.sh
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.sub
/config.log
/config.status
/configure
/install-sh
/main.c
/missing
/sam
/test-driver
