Makefile
Makefile.in
*.o
*.lo
stamp-h1
/.deps
/.libs
/*.trs
/*-output.log
/*-output.pbm
/test-*
/test-suite.log
/basic_block.log
/factorial_iter.log
/factorial_rec.log
/push.log
/swap.log
/screen_graphics.log
/screen_graphics.pbm
/screen_levy-c.log
/screen_levy-c.pbm
/screen_turtle-demo.log
/screen_turtle-demo.pbm
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.sub
/config.log
/config.status
/configure
/install-sh
/main.c
/missing
/test-driver
/sam
