/*.yaml*.c
/*.trs
/*-output.log
/test-*
/test-suite.log
/basic_block.log
/factorial_iter.log
/factorial_rec.log
/graphics.log
/levy-c.log
/push.log
/swap.log
/turtle-demo.log
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/test-driver
/sam
