/*.yaml*.x
/*.trs
/*-output.log
/sam_program_asm.h
/sam_program_len.h
/test-*
/test-suite.log
/basic_block.log
/factorial_iter.log
/factorial_rec.log
/push.log
/swap.log
/screen_graphics.log
/screen_graphics.pbm
/screen_levy-c.log
/screen_levy-c.pbm
/screen_turtle-demo.log
/screen_turtle-demo.pbm
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/test-driver
/sam
